@charset "utf-8";

/* ===================================
 * title
=================================== */
.title_area {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  color: #212121;
  text-align: center;
}
.title_area.-left {
  margin-bottom: 40px;
  text-align: left;
}
.title_area .title {
  margin-bottom: 18px;
}
.title_area .title::before {
  display: block;
  content: '';
  width: 40px;
  height: 3px;
  margin: 0 auto 20px;
  background-color: #00a2be;
}
.title_area.-left .title::before {
  margin: 0 0 20px;
}
.title + span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.58;
  color: #6b6b6b;
}


/* ===================================
 * 검색 창
=================================== */
.search_area {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
}
.search_area > input[type="search"] {
  border-radius: 5px;
}
.search_area > button {
  width: 100px;
  height: 48px;
  margin-left: 10px;
  line-height: 48px;
}

/* ===================================
 * 서브 커버 이미지
=================================== */
.sub_cover {
  overflow: hidden;
  position: relative;
  width: 100%;
  height:380px;
  border-radius: 5px;
  background: url(../images/sub_cover.svg) no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.sub_cover-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sub_cover-sort {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.sub_cover-title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  word-break: keep-all;
}
.sub_cover-text.category {
  margin: 20px 0;
}
.sub_cover-descript {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.sub_cover-descript + .tag_area {
  margin-top: 40px;
  text-align: center;
}
.sub_cover-descript + .tag_area .tag {
  height: 37px;
  padding: 10px;
  margin: 0 4px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}


/* ===================================
 * 서브 로케이션
=================================== */
.location {
  display: flex;
  margin-bottom: 120px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  text-align: center;
  align-items: center;
}
.location .home {
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}
.location .loacation_depth {
  padding: 20px 40px;
  border-right: 1px solid #e0e0e0;
  border-bottom: 2px solid #00a2be;
}

.location_list {
  position: relative;
  border-right: 1px solid #e0e0e0;
}
.location_list_trigger {
  padding: 20px 54px 20px 40px;
  font-size: 16px;
  color: #000;
} 
.location_list_option {
  display: none;
  position: absolute;
  top: 63px;
  left: 0;
  width: 101%;
  padding: 10px 0;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
  z-index: 40;
}
.location_list_option li > a {
  display: block;
  padding: 20px 0;
  background-color: #fff;
}
.location_list_option li > a:hover {
  border-radius: 5px;
  background-color: #ecfcff;
  color: #00a2be;
  box-shadow: inset 0 0 0 2px #00a2be;
}

/* ===================================
 * 서브 타이틀
=================================== */
.sub_title_area {
  text-align: center;
}
.sub_title_area.-left {
  text-align: left;
}
.sub_title-cover {
  overflow: hidden;
  height: 481px;
  border-radius: 5px;
}
.sub_title-inner {
  position: relative;
  width: 100%;
  max-width: 1244px;
  padding: 60px 0;
  margin: -60px auto 0;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}
.sub_title-fs30 {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
}
.sub_title-fs34 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.5;
}
.sub_title-descript {
  margin-top: 14px;
  font-size: 16px;
  line-height: 1.6;
  color: #6b6b6b;
}
.sub_title-extra {
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 22px;
  border-bottom: 1px solid #00a2be;
  font-size: 16px;
  font-weight: 600;
  color: #00a2be;
}

/* 교육과정 컨텐츠 */
.eduProcess_cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.eduProcess_cont > li {
  width: calc(100% / 4 - 5px);
}
.eduProcess_cont > li:nth-child(even) {
  margin-top: 60px;
}
.eduProcess_cont > li > .img_box {
  overflow: hidden;
  max-width: 345px;
  max-height: 200px;
  border-radius: 5px;
}

.eduProcess_cont-title {
  margin-top: 45px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.eduProcess_cont-title > b::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 50px;
  background-color: #00a2be;
}
.eduProcess_cont-title > b {
  display: block;
  position: relative;
  margin-bottom: 8px; 
  font-size: 16px;
}


/* 교윤문의란 */
.bg_f9f9f9,
.edu_enquiery_area {
  padding: 100px 0;
  background-color: #f9f9f9;
}


/* 단 */
.grid_col-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
}
.grid_col-list > li::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(91deg, #00a2be, #003daa);
}
.grid_col-list > li {
  overflow: hidden;
  position: relative;
  width: calc(100% / 2 - 10px);
  max-width: 710px;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(1, 71, 83, 0.1);
}
.grid_col-list.-row3 > li {
  width: calc(100% / 3 - 10px);
}
.grid_col-list.-row4 > li {
  width: calc(100% / 4 - 10px);
}
.grid_col-title { 
  padding: 23px 0 20px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 24px;
  font-weight: 600;
}
.grid_group-col {
  padding: 40px 40px;
}
.grid_col-desc {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.6;
  color: #6b6b6b;
  text-align: left;
}
.grid_col-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 40px;
  font-size: 20px;
  text-align: left;
}
.grid_col-text.-row2 {
  padding: 40px 23%;
}
.grid_col-text > li::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../images/bullet.svg) no-repeat;
  background-size: 100%;
}
.grid_col-text li {
  position: relative;
  width: 100%;
  padding-left: 34px;
  margin-bottom: 16px;
}
.grid_col-text.-row2 li {
  width: calc(100% / 2);
}
.grid_col-text.-row3 li {
  width: calc(100% / 3);
}
.grid_col-text.-row2 > li:last-child {
  margin-bottom: 16px;
}

.grid-extra_text {
  font-size: 16px;
  color: #6b6b6b;
  text-align: left;
}




.line-grid_group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  align-items: center;
}
.line-grid_group > li {
  width: calc(100% / 3);
  height: 165px;
  border-right: 1px solid #e0e0e0;
}
.line-grid_group > li:last-child {
  border-right: none;
}
.line-grid_group > li > img + p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}



.grid_group-type2-cont {
  display: flex;
  justify-content: space-between;
}
.grid_group-type2-cont > li {
  padding: 40px 40px;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(1, 71, 83, 0.1);
}
.grid_group-type2-cont.-row3 > li {
  width: calc(100% / 3 - 10px);
}

.grid_group-type2-img {
  margin-bottom: 20px;
  color: #00a2be;
  text-align: left;
}
.grid_group-type2-img > .img_box {
  margin-bottom: 20px;
}
.grid_group-type2-img > .img_box > img {
  width: 76px;
}
.grid_group-type2-img > .img_box + p {
  font-size: 16px;
  font-weight: 600;
}


.grid_group-type2-title {
  margin-bottom: 43px;
}
.grid_group-type2-title > p {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.grid_group-type2-title > p + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  color: #6b6b6b;
}

.grid_group-type2-list {
  text-align: left;
}
.grid_group-type2-list > li {
  position: relative;
  padding-left: 27px;
  margin-bottom: 18px;
  font-size: 16px;
}
.grid_group-type2-list > li:last-child {
  margin-bottom: 0;
}
.grid_group-type2-list > li::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../images/bullet.svg) no-repeat;
  background-size: 100%;
}


/* 220422 - vision추가 */
.grid_group-type3-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.grid_group-type3-cont > li {
  width: calc(100% / 3 - 10px);
  padding: 40px 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(1, 71, 83, 0.1);
}

.grid_group-type3-img {
  margin-bottom: 20px;
  color: #00a2be;
  text-align: left;
}
.grid_group-type3-img > .img_box {
  margin-bottom: 20px;
}
.grid_group-type3-img > .img_box > img {
  width: 76px;
}
.grid_group-type3-img > .img_box + p {
  font-size: 24px;
  font-weight: 600;
}

.grid_group-type3-title > p {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
}



/* 법정의무교육 */
.edu_enquiery-group .edu_enquiery-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}
.edu_enquiery-group .edu_enquiery-list > li::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(91deg, #00a2be, #003daa);
}
.edu_enquiery-group .edu_enquiery-list > li {
  overflow: hidden;
  position: relative;
  width: calc(100% / 3 - 10px);
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(1, 71, 83, 0.1);
}
.edu_enquiery-group .edu_enquiery-list > li > .edu_enquiery-img {
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0;
}
.edu_enquiery-group .edu_enquiery-list > li > .edu_enquiery-img > img {
  width: 76px;
}
.edu_enquiery-group .edu_enquiery-list > li > .edu_enquiery-img > p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}


.edu_enquiery-group .edu_enquiery-detail {
  display: flex;
}
.edu_enquiery-group .edu_enquiery-detail > li {
  margin-right: 40px;
  font-size: 16px;
}
.edu_enquiery-group .edu_enquiery-detail > li > p > em {
  margin-left: 16px;
  color: #6b6b6b;
}








/* ===================================
 * 안내 배너 모음
=================================== */
.info_banner-contants {
  position: relative;
  height: 289px;
  padding: 60px;
  margin: 200px 0 120px;
  background-color: #eff7f8;
}
.info_banner-contants::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 582px;
  height: 100%;
  background: url(../images/edu_enquiry_01.svg) no-repeat;
  background-size: contain;
}

.info_banner.-edu_enquiry-type01 .info_banner-contants {
  background-color: #f5f5f5;
}
.info_banner.-edu_enquiry-type02 .info_banner-contants {
  background-color: #eff7f8;
}
.info_banner.-customer_center .info_banner-contants {
  background-color: #eff7f8;
}

.info_banner.-edu_enquiry-type01 .info_banner-contants::after {
  right: 60px;
  bottom: -32px;
  background-image: url(../images/edu_enquiry_01.svg);
}
.info_banner.-edu_enquiry-type02 .info_banner-contants::after {
  background-image: url(../images/edu_enquiry_02.svg);
}
.info_banner.-customer_center .info_banner-contants::after {
  background-image: url(../images/customer_center_01.svg);
}

.edu_enquiry-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  color: #212121;
  letter-spacing: normal;
  text-align: left;
  z-index: 10;
}

.info_banner.-customer_center .info_title {
  position: relative;
  font-size: 14px;
  color: #6b6b6b;
  z-index: 10;
}
.info_banner.-customer_center .info_title > h3 {
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: 600;
  color: #212121;
}
.info_banner.-customer_center .info_title .customer_center_number {
  margin-bottom: 7px;
  font-size: 30px;
  font-weight: 800;
  color: #212121;
}
.info_banner.-customer_center .info_title .customer_center_time {
  margin-top: 19px;
}
.info_banner.-customer_center .info_title b {
  margin-right: 8px;
  font-weight: 500;
  color: #212121;
}
.info_banner.-customer_center .info_title .separator {
  margin: 0 8px;
}



/* ===================================
 * 게시판
=================================== */
.board_area {
  width: 100%;
  text-align: center;
}
.board_head,
.board_body {
  width: 100%;
  font-size: 16px;
  color: #000;
}
.board_head {
  border-top: 2px solid #000;
  border-bottom: 1px solid #e0e0e0;
}
.board_head .board_item,
.board_body .board_item {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}
.board_body .board_item {
  border-bottom: 1px solid #e0e0e0;
}
.board_body .board_item.-point_bg{
  background-color: #f9f9f9;
}
.board_head .board_item > .no,
.board_body .board_item > .no {
  width: 10%;
}
.board_body .board_item > .no.notice {
  font-weight: 800;
}
.board_head .board_item > .board_title,
.board_body .board_item > .board_title {
  width: calc(60% - 120px);
}
.board_body .board_item > .board_title {
  padding: 0 60px;
  text-align: left;
}
.board_body .board_item > .board_title > a > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.board_body .board_item > .board_title > a > .board_item_combine {
  display: none;
}
.board_head .board_item > .board_file_attach, 
.board_body .board_item > .board_file_attach {
  width: 10%;
}
.board_head .board_item > .board_writer, 
.board_body .board_item > .board_writer {
  width: 10%;
}
.board_head .board_item > .board_writeday, 
.board_body .board_item > .board_writeday {
  width: 13%;
}
.board_body .board_item > .board_writer,
.board_body .board_item > .board_writeday {
  color: #666;
} 
.board_body .board_item > .board_writeday {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.board_head .board_item > .board_file_attach > img, 
.board_body .board_item > .board_file_attach > img{
  width: 19px;
}



/* 게시판 페이지 넘버링 */
.board_paging {
  margin-top: 60px;
  text-align: center;
}
.board_paging a {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #aaaaaa;
  vertical-align: middle;
}
.board_paging .board_paging_num {
  margin: 0 10px;
}
.board_paging .board_paging_num a.active {
  border-radius: 5px;
  background-color: #00a2be;
  font-weight: 600;
  color: #fff;
}
.board_paging .btnFirst,
.board_paging .btnPrev,
.board_paging .btnNext,
.board_paging .btnLast {
  background: #fff url('../images/btn_paging.png') no-repeat;
  font-size: 0;
}
.board_paging .btnFirst {
  background-position: -5px center;
}
.board_paging .btnPrev {
  background-position: -35px center;
}
.board_paging .btnNext {
  background-position: -63px center;
}
.board_paging .btnLast {
  background-position: -93px center;
}

/* ===================================
 * 게시판 - 뷰페이지
=================================== */
.board_view {
  width: 100%;
  text-align: center;
}
.board_view_head {
  padding: 30px 40px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #e0e0e0;
}
.board_view_head > .board_view_title {
  overflow: hidden;
  /* white-space: nowrap; */
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-align: left;
  /* text-overflow: ellipsis; */
}
.board_view_head > .board_view_detail {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.board_view_head > .board_view_detail > .board_view_attach {
  display: flex;
  color: #acacac;
  align-items: center;
}
.board_view_head > .board_view_detail > .board_view_attach:hover {
  color: #00a2be;
}
.board_view_head > .board_view_detail > .board_view_attach > img {
  width: 19px;
  height: 19px;
}
.board_view_contant {
  max-width: 100%;
  min-height: 400px;
  padding: 30px 40px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}
.board_view_contant img {
  width: auto;
}
.board_view_direction > li {
  display: flex;;
  padding: 20px 40px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  font-weight: 500;
}
.board_view_direction > li > .prev,
.board_view_direction > li > .next {
  width: 100%;
  max-width: 74px;
}
.board_view_direction > li > .prev_title,
.board_view_direction > li > .next_title {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-left: 105px;
  text-overflow: ellipsis;
  text-align: left;
}


/* ===================================
 * slider 
=================================== */
/* product main slider */
.pd-slider {
  margin-bottom: 254px !important;
}
.pd-slider .slick-list {
  overflow: visible; 
}

.pd-slider .slick-slide .slide-sec > a {
  display: flex;
  overflow: visible;
  flex-wrap: wrap;
  width: calc(100% - 60px);
  padding: 40px;
  margin: 0 auto;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(1, 71, 83, 0.1);
  align-items: center;
}
.pd-slider .slick-slide .slide-sec .img-holder { /* 북러닝 */
  display: inline-flex;
  width: 86px;
  height: 126px;
  margin-right: 44px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
}
.pd-slider .slick-slide .slide-sec > a .img-holder > img { 
  width: 100%;
  margin: 0 auto;
}
.pd-slider .slick-slide .slide-sec > a .text-box {
  width: calc(100% - 94px - 44px);
}

.pd-slider .slick-slide .slide-sec > a .img-holder.-video_img { /* 이러닝 */
  width: 180px;
  height: 136px;
  margin-right: 30px;
}
.pd-slider .slick-slide .slide-sec > a .img-holder.-video_img > img {
  margin: 0 auto;
}

.pd-slider .slick-slide .slide-sec > a .text-box.-video_txt {
  width: calc(100% - 180px - 30px);
}

.slick-slide .slide-sec .slide-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #0d0d0d;
  text-overflow: ellipsis;
}
.slick-slide .slide-sec .main_slide-desc,
.slick-slide .slide-sec .slide-desc {  
  max-height: 2.4em;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  color: #6b6b6b;
}

.slick-slide .slide-sec .slide-desc p {
  display: -webkit-box;
  overflow: hidden; 
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.pd-slider .slick-dots {
  bottom: -54px;
}
.pd-slider .slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0 0;
  vertical-align: middle;
}
.pd-slider .slick-dots li button {
  position: relative;
  width: 16px;
  height: 16px;
}
.pd-slider .slick-dots li button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #e0e0e0;
  opacity: 1;
}

.pd-slider .slick-dots li.slick-active button:before {
  background-color: #00a2be;
  opacity: 1;
}





/* 추천 슬라이더 */
.slider-title_area {
  position: relative;
  margin-bottom: 40px;
}
.slider-title_area .title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
  color: #212121;
}
.arrow-slider {
  position: absolute;
  right: 0;
  bottom: 0;
}
.arrow-slider .prev-btn,
.arrow-slider .next-btn {
  display:inline-block; 
  width: 24px; 
  height: 24px;
  background: url(../images/arrow-left-line.svg) no-repeat; 
  cursor: pointer; 
  vertical-align: middle;
}
.arrow-slider .prev-btn {
  margin-right: 40px;
}
.arrow-slider .next-btn {
  margin-left: 40px;
  background: url(../images/arrow-right-line.svg) no-repeat; 
}

.pd_popular-slider .slick-slide .slide-sec > a {
  display: flex;
  overflow: visible;
  flex-direction: column;
  width: calc(100% - 30px);
  max-width: 400px;
  align-items: center;
}
.pd_popular-slider .slick-slide .slide-sec > a .img-holder {
  width: 100%;
  max-width: 400px;
  height: 230px;
  padding: 20px 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.pd_popular-slider .slick-slide .slide-sec > a .img-holder > img {
  max-width: 258px;
  height: 100%;
  margin: 0 auto;
}
.pd_popular-slider .slick-slide .slide-sec > a .text-box {
  width: 100%;
}

/* slide when not active/center*/
.pd_popular-slider .slick-slide,
.pd_popular-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  /* transform: scale(0.7, 0.7); */
  transition: transform 0.3s;            
}

/* slide when active/center */
.pd_popular-slider .slick-center,
.pd_popular-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scale(1, 1);
}





/* ===================================
 * 폼 
=================================== */
.fieldset_area {
  width: 100%;
}



/* 필수 체크 표시 */
.required_text {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 14px;
  color: #666;
}
.required_text > em {
  margin-right: 3px;
}
.required {
  margin-left: 3px;
  font-size: 20px;
  color: #00a2be;
}

/* 고객센터 폼 */
.fieldset {
  position: relative;
  margin-bottom: 19px;
  border-top: 2px solid #000;
}
.fieldset .field{
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}
.fieldset .field.-depth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fieldset .field > .field-groups {
  display: flex;
  width: 100%;
  align-items: center;
}
.fieldset .field > .label,
.fieldset .field > label,
.fieldset .field > .field-groups > .label,
.fieldset .field > .field-groups > label {
  width: 100%;
  max-width: 332px;
  padding: 10px 40px;
  font-size: 20px;
  letter-spacing: -0.4px;
  text-align: left;
}
.fieldset .field .form {
  width: 100%;
  max-width: 958px;
  text-align: left;
}

.fieldset .field .form .form_radio_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: #000;
  letter-spacing: -0.32px;
}
.fieldset .field .form .form_radio_list > li {
  position: relative;
  margin-right: 50px;
} 

.fieldset .field .form > input:not([type='file']),
.fieldset .field .form > textarea {
  width: calc(100% - 40px);
  font-size: 16px;
  letter-spacing: -0.32px;
}
.fieldset .field .form > textarea {
  min-height: 144px;
}
.fieldset .field .form > input[class="attach_file_name"] {
  width: 100%;
  max-width: 240px;
  margin-right: 18px;
}
.fieldset .field .form > label[class="attach_file_find"] {
  display: inline-block;
  width: 120px;
  height: 48px;
  border-radius: 5px;
  background-color: #6b6b6b;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}


.fieldset .field .form > input::placeholder,
.fieldset .field .form > textarea::placeholder{
  font-size: 16px;
  font-weight: 400;
  color: #bbb;
  letter-spacing: -0.32px;
}


.fieldset .field .form > .form_extra_text {
  display: inline-flex;
  width: 100%;
  margin-top: 7px;
  font-size: 14px;
  color: #666;
  letter-spacing: -0.35px;
}


.label {
  float: left;
}
.label.-hide {
  color: transparent;
}


/* 개인정보 수집 및 이용 동의 */
.form_agree_chk {
  position: relative;
  margin-left: 40px;
  text-align: left;
}
.form_agree_chk > label {
  padding-top: 2px;
  font-size: 14px;
}
.form_agree_chk > label > .form_agree-detail_btn {
  font-size: inherit;
}


.form_agree-detail_btn { 
  border-bottom: 1px solid #212121;
  line-height: 1;
  color: #000;
}
.form_agree-detail_btn:hover {
  border-color: #00a2be;
  color: #00a2be;
}




/* ===================================
 * modal
=================================== */
.modal_pop {
  display: none;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 10px 10px 0 rgb(48 49 51 / 7%);
  z-index: 1000;
  opacity: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px;
  height: 95%;
  background-color: #fff;
  z-index: 9999;
}
.modal .modal_header {
  position: relative;
  padding: 16px 0;
  border-bottom: 1px solid #e2e2e2;
}
.modal .modal_header .modal_title {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
}
.modal .modal_header .modal-close_btn {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
}
.modal .modal_header .modal-close_btn > span {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
  width: 50%;
  height: 1px;
  background-color: #000;
}
.modal .modal_header .modal-close_btn > span.--close_white {
  background-color: #fff;
}
.modal .modal_header .modal-close_btn > span:last-child {
  transform: translate3d(0, -50%, 0) rotate(-45deg);
}

.modal .modal_contant {
  overflow-y: auto;
  position: relative; 
  top: 0;
  height: calc(100% - 80px);
  padding: 40px;
}
.modal .modal_contant .-modal-prev_btn { /* js */
  height: 40px;
}

/* 211155 modal marketing pc */
.modal-mk-pc {
  max-width: 700px;
  height: 800px;
}
.modal-mk-pc .modal_header {
  position: relative;
  height: 390px;
  background-image: url(../images/modal-mk-pc_headerBg.png), 
                    linear-gradient(91deg, #00a2be, #003daa);
  background-position: top;
  color: #fff;
  text-align: center;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.modal-mk-pc .modal_header .modal_title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
}
.modal-mk-pc .modal_header .modal_sub_title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}
.modal-mk-pc .modal_header .modal_desc {
  font-size: 20px;
}
.modal-mk-pc .modal_header .modal-close_btn {
  top: 16px;
  right: 20px;
  transform: translateY(0);
}
.modal-mk-pc .modal_contant {
  overflow-y: unset;
  width: calc(100% - 40px);
  height: calc(100% - 390px - 42px);
  padding: 0px;
  margin: 0 auto;
  background-color: #fff;
}
.modal-mk-pc .modal_contant .modal_contant-box {
  overflow-y: auto;
  height: calc(250px + 162px);
  padding: 18px 18px;
  margin: -162px auto 0;
  background-color: #fff;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
}
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list {
  display: flex;
  margin-bottom: 34px;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list li {
  width: calc(100% / 3);
  border-right: 1px solid #fff;
  background-color: #c8c8c8;
  font-size: 20px;
  text-align: center;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list li:last-child {
  border-right: 0;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list li:hover,
.modal-mk-pc .modal_contant .modal_contant-box .modal-tab_list li.active {
  background-color: #0185cf;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_tab {
  display: none;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_tab.active {
  display: block;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_sec {
  margin-bottom: 34px; 
  color: #000;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_sec .modal-main_title {
  font-size: 30px;
  color: #00a2be;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_sec .modal-sub_title {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_sec .modal-sub_title p > em::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background: url(../images/modal-mk-pc_arrow-ico02.png) no-repeat center center;
  background-size: 100%;
}
.modal-mk-pc .modal_contant .modal_contant-box .modal_sec .modal-sub_title p + p {
  font-size: 16px;
  font-weight: 400;
}
.modal-mk-pc .modal_header-text {
  height: 43px;
  margin-bottom: 15px;
  border-radius: 5px 5px 0 0;
  background-color: #00a2be;
  font-size: 24px;
  font-weight: 500;
  line-height: 43px;
  color: #fff;
}

.modal-mk-pc .modal_cards_3grid {
  display: flex;
  margin: 0 -8px;
}
.modal-mk-pc .modal_cards_3grid .modal_card {
  width: calc(100% / 3 - 16px);
  margin: 0 8px;
} 
.modal-mk-pc .modal_cards_3grid .modal_card img {
  width: auto;
  margin-bottom: 10px;
} 
.modal-mk-pc .modal_cards_3grid .modal_card .card_contant-box {
  box-shadow: 0 4px 12px 0 #dcf1f5;
}
.modal-mk-pc .modal_cards_3grid .modal_card .card_contant-box .img-box {
  padding: 16px 0 8px;
  font-size: 18px;
  font-weight: 700;
  color: #00a2be;
}
.modal-mk-pc .modal_cards_3grid .modal_card .card_contant-box .img-box > img {
  width: 75px;
  margin-bottom: 5px;
}
.modal-mk-pc .modal_cards_3grid .modal_card .card_contant-box .img-box + p {
  padding: 28px 2px;
  background-color: #00a2be;
  font-size: 16px;
  color: #fff;
}

.modal-mk-pc .modal_partners_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 16px;
  border-radius: 5px;
  box-shadow: 0 1px 7px 1px rgb(0 0 0 / 10%);
}
.modal-mk-pc .modal_partners_logos .modal_card {
  width: calc(100% / 5);
}

.modal-mk-pc .modal_extra_text {
  margin-top: 30px;
  font-size: 16px;
  color: #000;
}
.modal-mk-pc .modal_extra_text img {
  width: 44px;
}
.modal-mk-pc .modal_video-box {
  margin-bottom: 30px;
}
.modal-mk-pc .modal_video-box video {
  width: 100%;
  border-radius: 5px;
}

.modal-mk-pc .modal_footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 42px;
  padding: 0 20px;
  border-top: 1px solid #e2e2e2;
  line-height: 42px;
  text-align: right;
}
.modal-mk-pc .modal_footer .chk_area {
  margin-left: 10px;
}
.modal-mk-pc .btn_area {
  margin-top: 32px;
}
.modal-mk-pc .btn_area .btn_edu_enquiry-sub {
  border: 1px solid #0185cf;
  background-color: #0185cf;
}


